.BackendConnectionWarning {
    background-color: orange;
    margin: 8px;
    border: 5px solid darkorange;
    border-radius: 4px;
}

.BackendConnectionWarning h3 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.BackendConnectionWarning p {
    margin-top: 4px;
    margin-bottom: 4px;
}