.Task {
    background-color: gray;
    margin: 8px;
    border: 2px solid lightgray;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.Task h2 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.Task input[type=checkbox] {
    display: inline-block;
    transform: scale(2);
    margin-right: 20px;
}